Repository Yuriy17/flyer-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -c eslint.config.js, eslint

fix build
  src/main.js
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

added static copy
  package-lock.json
  package.json
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

fix env import
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

remove copy
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

return copy
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

disable minification
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

fix path of dynamic import
  src/assets/js/helpers/helpers.js
Due: prettier --write, eslint -c eslint.config.js

fix path
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

add sourcemap
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

added modals
  package-lock.json
  package.json
  src/assets/js/helpers/helpers.js
  src/assets/js/layouts/MainForm.js
  src/assets/js/layouts/Modal.js
  src/assets/js/services/initMainForm.js
  src/assets/js/services/initModal.js
  src/assets/js/services/phones.js
  src/main.js
  src/templates/components/input.ejs
  src/templates/components/inputBlock.ejs
  src/templates/components/modal.ejs
  src/templates/layouts/mainForm/dropsContainer.ejs
  src/templates/layouts/mainForm/form.ejs
  src/templates/layouts/mainForm/passengerField.ejs
  src/templates/layouts/mainForm/standartForm.ejs
  src/templates/layouts/mainForm/typeBlock.ejs
  src/templates/layouts/modalContent/modalClassUp.ejs
  src/templates/layouts/modalContent/modalGetFreeQuote.ejs
  src/templates/layouts/modalContent/modalSuccess.ejs
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

added form with shoelace components
  .prettierrc
  src/assets/css/config/_intl-tel-input.scss
  src/assets/css/layouts/_sl-form.scss
  src/assets/css/styles.scss
  src/assets/js/components/Button.js
  src/assets/js/components/Checkbox.js
  src/assets/js/components/Component.js
  src/assets/js/components/Dialog.js
  src/assets/js/components/Form.js
  src/assets/js/components/FormField.js
  src/assets/js/components/Input.js
  src/assets/js/components/Modal.js
  src/assets/js/components/Select.js
  src/assets/js/components/Textarea.js
  src/assets/js/helpers/constants.js
  src/assets/js/helpers/helpers.js
  src/assets/js/layouts/MainForm.js
  src/assets/js/layouts/Modal.js
  src/assets/js/layouts/SampleForm.js
  src/assets/js/services/initFormAirDatepicker.js
  src/assets/js/services/initMainForm.js
  src/assets/js/services/initModal.js
  src/assets/js/services/initSampleDialog.js
  src/assets/js/services/initShoelaceComponents.js
  src/assets/js/services/phones.js
  src/assets/js/utils/utils.js
  src/main.js
  src/templates/components/form.ejs
  src/templates/components/formField.ejs
  src/templates/components/slButton.ejs
  src/templates/components/slCheckbox.ejs
  src/templates/components/slDialog.ejs
  src/templates/components/slInput.ejs
  src/templates/components/slSelect.ejs
  src/templates/components/slTextarea.ejs
  src/templates/header.ejs
  src/templates/layouts/sampleFormContent.ejs
Due: prettier --write, eslint -c eslint.config.js

added form fields
  src/assets/css/components/_sl-dialog.scss
  src/assets/css/layouts/_sl-form.scss
  src/assets/css/styles.scss
  src/assets/js/components/form/DynamicGroup.js
  src/assets/js/components/form/Form.js
  src/assets/js/components/form/FormField.js
  src/assets/js/layouts/SampleForm.js
  src/assets/js/layouts/SampleForm/SampleForm.js
  src/assets/js/layouts/SampleForm/sampleFormConf.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/form/validateField.js
  src/assets/js/services/form/validationRules.js
  src/assets/js/services/form/validators.js
  src/assets/js/services/initSampleDialog.js
  src/templates/components/form/dynamicGroup.ejs
  src/templates/components/form/form.ejs
  src/templates/components/form/formField.ejs
  src/templates/components/inputBlock.ejs
  src/templates/components/slCheckbox.ejs
  src/templates/components/slInput.ejs
  src/templates/components/slSelect.ejs
  src/templates/components/slTextarea.ejs
  src/templates/layouts/sampleFormContent.ejs
Due: prettier --write, eslint -c eslint.config.js

added trustpilots reviews
  package-lock.json
  package.json
  src/assets/css/_flyer-styles.scss
  src/assets/css/components/_reviews.scss
  src/assets/css/config/_functions.scss
  src/assets/css/config/_mixins.scss
  src/assets/css/config/_vars.scss
  src/assets/css/styles.scss
  src/assets/images/review-star.svg
  src/assets/images/trustpilot-logo.svg
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/validateField.js
  src/assets/js/services/initReviews.js
  src/data/reviews.json
  src/index.html
  src/main.js
  src/templates/layouts/sections/reviews/review.ejs
  src/templates/layouts/sections/reviews/reviewStar.ejs
  src/templates/layouts/sections/reviews/reviews.ejs
  src/templates/layouts/sections/reviews/reviewsNavigation.ejs
  src/templates/layouts/sections/reviews/reviewsSlide.ejs
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js, eslint

update build
  src/assets/css/components/_reviews.scss
  src/assets/js/services/initReviews.js
  src/main.js
  vite.config.js
Due: prettier --write, eslint -c eslint.config.js

added shoelace icon
  src/assets/css/components/_button.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/sections/_cards.scss
  src/assets/css/layouts/sections/_logos.scss
  src/assets/css/styles.scss
  src/assets/css/vendor/_custom-bootstrap.scss
  src/assets/icons/arrows/arrow-right-white.svg
  src/assets/icons/arrows/arrow-top-right-blue.svg
  src/assets/js/helpers/constants.js
  src/assets/js/services/initShoelaceComponents.js
  src/assets/js/services/shoelace/initNav.js
  src/assets/js/services/shoelace/initShoelaceComponents.js
  src/main.js
  src/pages/booking/index.html
  src/templates/components/button/button.ejs
  src/templates/components/button/slButton.ejs
  src/templates/layouts/sections/logos/logos.ejs
  src/templates/pages/test.ejs
Due: prettier --write, eslint -c eslint.config.js, eslint

added book section
  public/icons/arrow-top-right-blue-1.svg
  public/icons/chevrons-down.svg
  public/icons/rounded-arrow-left.svg
  public/icons/rounded-arrow-right.svg
  src/assets/css/components/_breadcrumbs.scss
  src/assets/css/components/_card.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/config/_mixins.scss
  src/assets/css/config/_vars.scss
  src/assets/css/layouts/sections/_book.scss
  src/assets/css/layouts/sections/_cards.scss
  src/assets/css/layouts/sections/_header.scss
  src/assets/css/layouts/sections/_hero.scss
  src/assets/css/layouts/sections/_preheader.scss
  src/assets/css/styles.scss
  src/index.html
  src/templates/components/button/slButton.ejs
  src/templates/layouts/breadcrumbs/breadcrumb.ejs
  src/templates/layouts/breadcrumbs/breadcrumbs.ejs
  src/templates/layouts/destinationsCountries/destinationsCountries.ejs
  src/templates/layouts/sections/book/book.ejs
  src/templates/layouts/sections/book/bookCard.ejs
  src/templates/layouts/sections/hero/hero.ejs
  src/templates/layouts/sections/hero/heroBg.ejs
  src/templates/layouts/sections/hero/heroPartners.ejs
  src/templates/layouts/sections/hero/heroSlide.ejs
  src/templates/layouts/sections/hero/heroSlider.ejs
  src/templates/layouts/showMoreButton.ejs
Due: prettier --write, eslint

fix write pretier
  .lintstagedrc.json
  src/index.html
Due: prettier --write, eslint

enable prod test data
  src/assets/js/services/initReviews.js
Due: prettier --write, eslint -c eslint.config.js

fix json data link in prod
  public/data/reviews.json
Due: none

fix arrows overflow
  src/assets/css/layouts/sections/_hero.scss
Due: prettier --write

fix build
  public/icons/facebook2.svg
  public/icons/instagram-fill2.svg
  public/icons/linkedin2.svg
  public/icons/logo.svg
  public/icons/mail2.svg
  public/icons/phone2.svg
  public/icons/system-uicons_location.svg
  public/icons/twitter2.svg
  src/assets/css/config/_vars.scss
  src/assets/css/layouts/sections/_book.scss
  src/assets/css/layouts/sections/_footer.scss
  src/assets/css/styles.scss
  src/assets/js/services/initBurger.js
  src/index.html
  src/templates/components/adaptivePicture/adaptivePicture.ejs
  src/templates/layouts/footer.ejs
  src/templates/layouts/sections/book/book.ejs
  src/templates/layouts/sections/book/bookEurope.ejs
  src/templates/layouts/sections/hero/heroPartners.ejs
  vite.config.mjs
Due: prettier --write, eslint -c eslint.config.js, eslint

fix card button position
  src/assets/css/components/_card.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/sections/_hero.scss
  src/index.html
  src/templates/layouts/sections/book/bookCard.ejs
Due: prettier --write, eslint

added max-width to hero-partners
  src/assets/css/layouts/sections/_hero.scss
Due: prettier --write

fix missed jpg image
  public/static/images/desktop/book-europe-italy@2x.jpg
  public/static/images/desktop/book-europe-italy@2x.png
  public/static/images/desktop/book-europe-italy@2x.webp
Due: none

added env to static path, added init of burger drawer
  .env
  src/assets/js/helpers/constants.js
  src/assets/js/services/dialog/initBurger.js
  src/assets/js/services/initBurger.js
  src/assets/js/services/initReviews.js
  src/templates/components/drawer/drawer.ejs
  src/templates/layouts/drawerContent/drawerBurger.ejs
  vite.config.mjs
Due: prettier --write, eslint -c eslint.config.js

added process env for ejs, static path for scss url
  src/assets/css/config/_fonts.scss
  src/assets/css/config/_vars.scss
  src/assets/js/utils/loadingIcon.js
  src/templates/components/adaptivePicture/adaptivePicture.ejs
  src/templates/components/reviewStars/reviewStar.ejs
  src/templates/layouts/footer.ejs
  src/templates/layouts/header.ejs
  src/templates/layouts/sections/hero/heroPartners.ejs
  src/templates/layouts/sections/hero/heroSlider.ejs
  src/templates/layouts/sections/preheader/preheader.ejs
  src/templates/layouts/sections/reviews/reviews.ejs
  src/templates/layouts/sections/reviews/reviewsNavigation.ejs
  src/templates/layouts/showMoreButton.ejs
  vite.config.mjs
Due: prettier --write, eslint -c eslint.config.js

added path vars
  src/assets/css/layouts/sections/_hero.scss
  src/assets/js/services/initReviews.js
  src/templates/layouts/sections/book/bookCard.ejs
Due: prettier --write, eslint -c eslint.config.js

fix env error in include prop
  src/templates/layouts/sections/book/bookCard.ejs
Due: none

add static prop to check if compiled in js
  src/templates/components/reviewStars/reviewStars.ejs
  src/templates/layouts/sections/preheader/preheader.ejs
Due: none

added custom drawer, fix burger
  src/assets/css/components/_burger.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/modals/_burgerDrawer.scss
  src/assets/css/layouts/sections/_header.scss
  src/assets/css/styles.scss
  src/assets/js/helpers/constants.js
  src/assets/js/helpers/helpers.js
  src/assets/js/services/dialog/initBurger.js
  src/assets/js/services/legacy/validation.js
  src/assets/js/services/shoelace/initShoelaceComponents.js
  src/index.html
  src/main.js
  src/templates/layouts/burgerButton.ejs
  src/templates/layouts/header.ejs
Due: prettier --write, eslint -c eslint.config.js, eslint

added burger menu
  src/assets/css/components/_menu-list.scss
  src/assets/css/components/_nav.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/_socials.scss
  src/assets/css/layouts/modals/_burgerDrawer.scss
  src/assets/css/styles.scss
  src/assets/js/services/dialog/initBurger.js
  src/templates/components/drawer/drawer.ejs
  src/templates/components/menu/menu.ejs
  src/templates/components/nav/nav.ejs
  src/templates/layouts/drawerContent/drawerBurger.ejs
  src/templates/layouts/footer.ejs
  src/templates/layouts/menu/footerMenu.ejs
  src/templates/layouts/socials.ejs
Due: prettier --write, eslint -c eslint.config.js

update footer layout
  src/assets/css/layouts/sections/_footer.scss
  src/templates/layouts/footer.ejs
Due: prettier --write

added services
  public/static/icons/services-24-hours.svg
  public/static/icons/services-guarantee.svg
  public/static/icons/services-shield.svg
  src/assets/css/layouts/sections/_footer.scss
  src/assets/css/layouts/sections/_reviews.scss
  src/assets/css/layouts/sections/_services.scss
  src/assets/css/styles.scss
  src/index.html
  src/templates/layouts/footer.ejs
  src/templates/layouts/sections/book/book.ejs
  src/templates/layouts/sections/services/services.ejs
Due: prettier --write, eslint

fixed mobile fixed burger
  src/templates/layouts/head.ejs
Due: none

add init position on burger button
  src/assets/js/services/dialog/initBurger.js
Due: prettier --write, eslint -c eslint.config.js

Path conditions:
  prettier --write: ((any of: *.js) or (any of: *.html)) or (any of: *.scss)
  eslint -c eslint.config.js: any of: *.js
  eslint: any of: *.html
