Repository Yuriy17/flyer-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -c eslint.config.mjs, eslint

added link color on hero title
  src/assets/css/layouts/sections/_hero.scss
  src/assets/css/styles.scss
  src/templates/layouts/sections/hero/hero.ejs
Due: prettier --write

fix dates picker on main form
  src/assets/css/components/_form.scss
  src/assets/css/components/_passenger-count.scss
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/initForm.js
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added maximum 8 row to dynamic fields
  src/assets/css/components/_dynamic-group.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/templates/components/button/slButton.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added minimal count to adults and set max as 5 for dynamic rows
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/airportSearch/initFlightSearch.js
Due: prettier --write, eslint -c eslint.config.mjs

added dropdown search
  src/assets/css/components/_form.scss
  src/assets/js/services/form/airportSearch/initAirportSearchForm.js
  src/assets/js/services/form/airportSearch/initDialogFlightForm.js
  src/main.js
  src/templates/components/inputs/slInput.ejs
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added search to dynamic group, style search dropdown
  src/assets/css/components/_form.scss
  src/assets/js/services/dialog/initFlightDialog.js
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/airportSearch/airportUtils.js
  src/assets/js/services/form/airportSearch/eventHandlers.js
  src/assets/js/services/form/airportSearch/initAirportSearchForm.js
  src/assets/js/services/form/airportSearch/initDialogFlightForm.js
  src/main.js
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added dialog partners
  src/assets/css/layouts/modals/_dialog-common.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/css/layouts/modals/_dialog-partners.scss
  src/assets/css/styles.scss
  src/assets/js/helpers/constants.js
  src/assets/js/services/dialog/initDialogPartners.js
  src/assets/js/services/initHeroSlider.js
  src/assets/js/services/initStartCosts.js
  src/assets/js/services/shoelace/initShoelaceComponents.js
  src/assets/js/utils/utils.js
  src/index.html
  src/main.js
  src/templates/layouts/dialog/dialogFlight.ejs
  src/templates/layouts/dialog/dialogPartners.ejs
  src/templates/layouts/dialog/dialogPartnersContent.ejs
  src/templates/layouts/dropdowns/countryList.ejs
  src/templates/layouts/dropdowns/countryListDropdown.ejs
Due: prettier --write, eslint -c eslint.config.mjs, eslint

added search panel
  pnpm-lock.yaml
  public/static/data/partnersData.json
  public/static/icons/search-grey.svg
  src/assets/css/layouts/modals/_dialog-partners.scss
  src/assets/js/helpers/constants.js
  src/assets/js/helpers/helpers.js
  src/assets/js/services/dialog/initDialogPartners.js
  src/assets/js/services/shoelace/initShoelaceComponents.js
  src/data/bookEuropeCards.json
  src/data/partersData.js
  src/main.js
  src/templates/components/inputs/slInput.ejs
  src/templates/layouts/dialog/dialogPartners.ejs
  src/templates/layouts/dialog/dialogPartnersCategoriesContent.ejs
  src/templates/layouts/dialog/dialogPartnersContent.ejs
  src/templates/layouts/dialog/searchIcon.ejs
  vite.config.mjs
Due: prettier --write, eslint -c eslint.config.mjs

added max height to desktop
  src/assets/css/layouts/modals/_dialog-partners.scss
  src/templates/layouts/dialog/dialogPartnersCategoriesContent.ejs
Due: prettier --write

added desktop style of partners popup
  src/assets/css/layouts/modals/_dialog-common.scss
  src/assets/css/layouts/modals/_dialog-partners.scss
Due: prettier --write

added classUp form
  src/assets/css/layouts/modals/_dialog-classup.scss
  src/assets/css/layouts/modals/_dialog-partners.scss
  src/assets/css/styles.scss
  src/assets/js/services/dialog/initDialogClassUp.js
  src/assets/js/services/dialog/initFlightDialog.js
  src/assets/js/services/form/formSubmit.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/validationRules.js
  src/assets/js/services/form/validators.js
  src/assets/js/services/metrics.js
  src/index.html
  src/main.js
  src/templates/layouts/dialog/dialogClassUp.ejs
  src/templates/layouts/dialog/dialogClassUpContent.ejs
  src/templates/layouts/texts/formTermsText.ejs
Due: prettier --write, eslint -c eslint.config.mjs, eslint

fix appearing list on empty request
  src/assets/js/services/form/airportSearch/airportUtils.js
Due: prettier --write, eslint -c eslint.config.mjs

hide search panel in partners
  src/assets/js/services/form/airportSearch/airportUtils.js
  src/templates/layouts/dialog/dialogPartners.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix hide event on classup modal
  src/assets/css/components/_form.scss
  src/assets/js/services/dialog/initDialogClassUp.js
Due: prettier --write, eslint -c eslint.config.mjs

fix airport height
  src/assets/css/layouts/modals/_dialog-classup.scss
  src/assets/js/services/form/airportSearch/airportUtils.js
Due: prettier --write, eslint -c eslint.config.mjs

added main form to hero
  src/assets/css/layouts/forms/_find-ticket.scss
  src/assets/css/layouts/modals/_dialog-classup.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/css/layouts/sections/_hero.scss
  src/assets/css/styles.scss
  src/assets/js/layouts/forms/MainForm.js
  src/assets/js/layouts/forms/SampleForm/SampleForm.js
  src/assets/js/layouts/forms/SampleForm/sampleFormConf.js
  src/assets/js/layouts/forms/initFlightTicketForms.js
  src/assets/js/services/dialog/initDialogFreeQuote.js
  src/assets/js/services/dialog/initFlightDialog.js
  src/assets/js/services/form/airportSearch/initFlightTicketForm.js
  src/index.html
  src/main.js
  src/templates/layouts/dialog/dialogClassUp.ejs
  src/templates/layouts/dialog/dialogFlight.ejs
  src/templates/layouts/dialog/dialogFlightNewNav.ejs
  src/templates/layouts/dialog/dialogFreeQuote.ejs
  src/templates/layouts/forms/classUpForm/classUpForm.ejs
  src/templates/layouts/forms/findTicketForm/findTicketForm.ejs
  src/templates/layouts/forms/getFreeQuoteForm/getFreeQuoteForm.ejs
  src/templates/layouts/sections/hero/hero.ejs
  src/templates/layouts/sections/hero/heroPrice.ejs
  src/templates/layouts/sections/hero/heroSlider.ejs
Due: prettier --write, eslint -c eslint.config.mjs, eslint

new hero
  pnpm-lock.yaml
  public/static/icons/chevron-blue-down.svg
  src/assets/css/components/_breadcrumbs.scss
  src/assets/css/components/_card.scss
  src/assets/css/components/_country-list.scss
  src/assets/css/components/_form.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/forms/_find-ticket.scss
  src/assets/css/layouts/sections/_book.scss
  src/assets/css/layouts/sections/_hero.scss
  src/assets/css/styles.scss
  src/assets/js/services/form/airportSearch/airportUtils.js
  src/assets/js/services/form/airportSearch/eventHandlers.js
  src/assets/js/services/form/airportSearch/fetchAirports.js
  src/assets/js/services/form/airportSearch/initFlightTicketForm.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/validators.js
  src/assets/js/services/initHeroSlider.js
  src/index.html
  src/main.js
  src/templates/layouts/dropdowns/countryList.ejs
  src/templates/layouts/dropdowns/countryListDropdown.ejs
  src/templates/layouts/dropdowns/countryListDropdowns.ejs
  src/templates/layouts/dropdowns/passengerDropdownContent.ejs
  src/templates/layouts/formFields/toHiddenInputs.ejs
  src/templates/layouts/forms/contactsForm/contactsFormContent.ejs
  src/templates/layouts/forms/flightForm/flightFormContentMultiCity.ejs
  src/templates/layouts/forms/flightForm/flightFormContentOneWay.ejs
  src/templates/layouts/forms/flightForm/flightFormContentRoundTrip.ejs
  src/templates/layouts/forms/flightForm/staticContent.ejs
  src/templates/layouts/forms/flightForm/staticFooter.ejs
  src/templates/layouts/sections/book/bookCard.ejs
  src/templates/layouts/sections/hero/hero.ejs
  src/templates/layouts/sections/hero/heroPartners.ejs
  src/templates/layouts/texts/flightFormTermsText.ejs
Due: prettier --write, eslint -c eslint.config.mjs, eslint

form main form obj
  src/assets/css/components/_form.scss
  src/assets/js/api/ticketSubmit.js
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/airportSearch/eventHandlers.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/form/validateField.js
  src/assets/js/services/form/validators.js
  src/assets/js/services/initHeroSlider.js
  src/assets/js/services/legacy/api.js
  src/assets/js/services/legacy/validation.js
  src/main.js
  src/templates/components/form/form.ejs
  src/templates/components/inputs/slInput.ejs
  src/templates/layouts/dropdowns/passengerCount.ejs
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
  src/templates/layouts/forms/flightForm/findTicketForm.ejs
  src/templates/layouts/forms/flightForm/staticContent.ejs
  src/templates/layouts/sections/hero/hero.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix dropd hoist, trim values
  src/assets/css/layouts/sections/_hero.scss
  src/assets/js/services/form/initForm.js
  src/templates/components/form/formField.ejs
  src/templates/layouts/dropdowns/countryListDropdowns.ejs
  src/templates/layouts/forms/flightForm/staticContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix date format
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/validators.js
Due: prettier --write, eslint -c eslint.config.mjs

Path conditions:
  prettier --write: (any of: *.js) or (any of: *.scss)
  eslint -c eslint.config.mjs: any of: *.js
  eslint: any of: *.html
