Repository Yuriy17/flyer-components: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint -c eslint.config.mjs, eslint

.lintstagedrc.json:

{
  "*.js": [
    "prettier --write",
    "eslint -c eslint.config.mjs"
  ],
  "*.html": [
    "eslint"
  ],
  "*.scss": "prettier --write"
}

try increase speed of scroll event
  src/assets/js/services/dialog/initBurger.js
Due: prettier --write, eslint -c eslint.config.mjs

replace changing top to change translateY
  src/assets/css/components/_burger.scss
  src/assets/css/styles.scss
  src/assets/js/services/dialog/initBurger.js
Due: prettier --write, eslint -c eslint.config.mjs

added transition
  src/assets/css/components/_burger.scss
Due: prettier --write

added loading icon to lazy images
  src/assets/css/components/_card.scss
  src/assets/css/components/_lazy-picture.scss
  src/assets/css/styles.scss
  src/assets/js/services/initLazyLoadImage.js
  src/main.js
  src/templates/components/adaptivePicture/adaptivePicture.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix classes for adaptive images
  src/assets/js/utils/loadingIcon.js
  src/templates/components/adaptivePicture/adaptivePicture.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix image heights
  src/assets/css/components/_card.scss
  src/assets/css/layouts/sections/_hero.scss
Due: prettier --write

added intl tel
  src/assets/css/components/_form.scss
  src/assets/css/components/_sl-tooltip.scss
  src/assets/css/config/_mixins.scss
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/form/validators.js
  src/templates/components/form/formField.ejs
  src/templates/layouts/formFields/phoneField.ejs
  src/templates/layouts/forms/contactsForm/contactsFormContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

finished contact form
  src/assets/css/components/_form.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/sections/_contacts.scss
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/form/validateField.js
  src/assets/js/services/form/validationRules.js
  src/assets/js/services/form/validators.js
  src/assets/js/services/initTelInput.js
  src/assets/js/services/legacy/phones.js
  src/templates/components/adaptivePicture/adaptivePicture.ejs
  src/templates/components/inputs/slCheckbox.ejs
  src/templates/layouts/forms/contactsForm/contactsFormContent.ejs
  src/templates/layouts/sections/contacts/contactsBg.ejs
  src/templates/layouts/sections/hero/heroBg.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added show hide function
  bookEuropeCards.json
  src/assets/css/components/_card.scss
  src/assets/css/layouts/sections/_book.scss
  src/assets/js/services/initHideCards.js
  src/main.js
  src/templates/layouts/forms/subscribeForm/subscribeFormContent.ejs
  src/templates/layouts/sections/book/book.ejs
  src/templates/layouts/sections/book/bookCard.ejs
  src/templates/layouts/sections/book/bookEurope.ejs
  src/templates/layouts/sections/subscribe/subscribe.ejs
  vite.config.mjs
Due: prettier --write, eslint -c eslint.config.mjs

show hide cards
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/sections/_book.scss
  src/assets/js/services/initHideCards.js
  src/index.html
  src/templates/layouts/forms/subscribeForm/subscribeFormContent.ejs
  src/templates/layouts/sections/book/bookEurope.ejs
Due: prettier --write, eslint -c eslint.config.mjs, eslint

added subscription section
  src/assets/css/layouts/sections/_services.scss
  src/assets/css/layouts/sections/_subscribe.scss
  src/assets/css/styles.scss
  src/assets/js/services/initHideCards.js
  src/main.js
  src/templates/layouts/forms/contactsForm/contactsFormContent.ejs
  src/templates/layouts/forms/subscribeForm/subscribeFormContent.ejs
  src/templates/layouts/sections/services/services.ejs
  src/templates/layouts/sections/subscribe/subscribe.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix date validation
  public/static/icons/chevron-black-drop-down.svg
  public/static/icons/chevron-blue-double-down.svg
  src/assets/css/components/_dialog-flight.scss
  src/assets/css/components/_form.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/css/styles.scss
  src/assets/js/helpers/constants.js
  src/assets/js/services/dialog/initFlightDialog.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/form/validateField.js
  src/assets/js/services/form/validators.js
  src/assets/js/services/shoelace/initShoelaceComponents.js
  src/templates/layouts/dialog/dialogFlight.ejs
  src/templates/layouts/formFields/dateField.ejs
  src/templates/layouts/formFields/passengerField.ejs
  src/templates/layouts/formFields/phoneField.ejs
  src/templates/layouts/forms/flightForm/flightFormContentRoundTrip.ejs
  src/templates/layouts/showMoreButton.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added hidden inputs
  public/static/icons/rounded-minus.svg
  public/static/icons/rounded-plus.svg
  src/assets/css/components/_form.scss
  src/assets/css/components/_passenger-block.scss
  src/assets/css/components/_passenger-count.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/css/styles.scss
  src/assets/js/helpers/constants.js
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/shoelace/initShoelaceComponents.js
  src/main.js
  src/templates/components/form/formField.ejs
  src/templates/components/inputs/slInput.ejs
  src/templates/layouts/dropdowns/passengerCount.ejs
  src/templates/layouts/dropdowns/passengerDropdownContent.ejs
  src/templates/layouts/formFields/fromHiddenInputs.ejs
  src/templates/layouts/formFields/passengerField.ejs
  src/templates/layouts/formFields/toHiddenInputs.ejs
  src/templates/layouts/forms/flightForm/flightFormContentRoundTrip.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added passenger
  src/assets/css/components/_form.scss
  src/assets/js/services/dialog/initFlightDialog.js
  src/assets/js/services/form/airportSearch/initFlightSearch.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/form/validateField.js
  src/main.js
  src/templates/layouts/forms/flightForm/flightFormContentRoundTrip.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix passenger
  src/assets/css/components/_passenger-count.scss
  src/assets/js/services/dialog/initFlightDialog.js
  src/assets/js/services/form/airportSearch/initFlightSearch.js
  src/main.js
  src/templates/layouts/dropdowns/passengerCount.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added one way
  src/assets/js/services/form/airportSearch/initFlightSearch.js
  src/templates/components/inputs/slInput.ejs
  src/templates/layouts/forms/flightForm/flightFormContentOneWay.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added passenger type change logic
  src/assets/js/services/form/airportSearch/initFlightSearch.js
  src/templates/layouts/dropdowns/passengerDropdownContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

added group templates
  src/templates/components/form/dynamicGroup.ejs
  src/templates/layouts/dialog/dialogFlightNewNav.ejs
  src/templates/layouts/dropdowns/passengerDropdownContent.ejs
  src/templates/layouts/formFields/fromHiddenInputs.ejs
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
  src/templates/layouts/forms/flightForm/flightFormContentOneWay.ejs
  src/templates/layouts/forms/flightForm/flightFormContentRoundTrip.ejs
  src/templates/layouts/forms/flightForm/staticContent.ejs
Due: none

added base dynamic layout
  src/assets/css/components/_dynamic-group.scss
  src/assets/css/styles.scss
  src/templates/components/button/slButton.ejs
  src/templates/components/form/dynamicGroup.ejs
  src/templates/layouts/forms/flightForm/flightFormContentMultiCity.ejs
Due: prettier --write

added dynamic groups
  src/assets/js/components/Button.js
  src/assets/js/components/Checkbox.js
  src/assets/js/components/Dialog.js
  src/assets/js/components/Input.js
  src/assets/js/components/Select.js
  src/assets/js/components/Textarea.js
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/initForm.js
  src/templates/components/form/dynamicGroup.ejs
  src/templates/components/form/form.ejs
  src/templates/layouts/formFields/dateField.ejs
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
  src/templates/layouts/forms/flightForm/flightFormContentMultiCity.ejs
  src/templates/layouts/forms/flightForm/flightFormContentOneWay.ejs
  src/templates/layouts/forms/flightForm/flightFormContentRoundTrip.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix dynamic buttons and styles
  public/static/icons/plus-blue.svg
  public/static/icons/trash-white.svg
  src/assets/css/components/_dynamic-group.scss
  src/assets/css/components/_form.scss
  src/assets/css/components/_sl-button.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/airportSearch/initFlightSearch.js
  src/assets/js/services/form/initForm.js
  src/templates/components/button/slButton.ejs
  src/templates/components/form/dynamicGroup.ejs
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
  src/templates/layouts/forms/flightForm/flightFormContentMultiCity.ejs
Due: prettier --write, eslint -c eslint.config.mjs

increase padding bottom
  src/assets/css/layouts/modals/_dialog-flight.scss
Due: prettier --write

added padding bottom to modal for mobile
  src/assets/css/layouts/modals/_dialog-flight.scss
Due: prettier --write

fix mulri city logic
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/airportSearch/initFlightSearch.js
  src/assets/js/services/form/initForm.js
  src/templates/components/form/dynamicGroup.ejs
  src/templates/layouts/forms/flightForm/flightFormContentMultiCity.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix passenger dropdown
  src/assets/css/components/_passenger-block.scss
  src/templates/components/form/formField.ejs
Due: prettier --write

added air-datepicker to saparate js build
  vite.config.mjs
Due: none

fix datepicker init
  src/assets/css/components/_form.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix trigger button breakpoint
  src/assets/css/components/_dynamic-group.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/css/layouts/sections/_header.scss
Due: prettier --write

added text, fix init error
  src/assets/css/components/_form.scss
  src/assets/js/helpers/helpers.js
  src/assets/js/services/dialog/initFlightDialog.js
  src/assets/js/services/dialog/initTriggerButton.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/templates/layouts/forms/contactsForm/contactsFormContent.ejs
  src/templates/layouts/forms/flightForm/flightFormContentMultiCity.ejs
  src/templates/layouts/forms/flightForm/flightFormContentOneWay.ejs
  src/templates/layouts/forms/flightForm/flightFormContentRoundTrip.ejs
  src/templates/layouts/forms/subscribeForm/subscribeFormContent.ejs
  src/templates/layouts/texts/flightFormTermsText.ejs
  src/templates/layouts/texts/formTermsText.ejs
Due: prettier --write, eslint -c eslint.config.mjs

redisigned footer
  src/assets/css/components/_menu-list.scss
  src/assets/css/layouts/sections/_footer.scss
  src/assets/js/services/dialog/initBurger.js
  src/assets/js/services/dialog/initFlightDialog.js
  src/templates/components/menu/menu.ejs
  src/templates/components/menu/menuItem.ejs
  src/templates/components/nav/nav.ejs
  src/templates/layouts/footer.ejs
  src/templates/layouts/menu/footerMenu.ejs
Due: prettier --write, eslint -c eslint.config.mjs

fix hero-card overflow
  src/assets/css/layouts/sections/_hero.scss
  src/templates/layouts/sections/hero/hero.ejs
Due: prettier --write

added book id generetion
  src/index.html
  src/templates/layouts/sections/book/book.ejs
  src/templates/layouts/sections/book/bookEurope.ejs
  src/templates/layouts/sections/book/bookSections.ejs
Due: eslint

fix fix show more block hide
  src/assets/js/services/initHideCards.js
Due: prettier --write, eslint -c eslint.config.mjs

added loader
  src/assets/css/components/_preloader.scss
  src/assets/css/styles.scss
  src/assets/js/services/initPreloader.js
  src/index.html
  src/main.js
  src/templates/layouts/preloader.ejs
Due: prettier --write, eslint -c eslint.config.mjs, eslint

comment init reviews
  src/assets/js/services/initReviews.js
  src/main.js
Due: prettier --write, eslint -c eslint.config.mjs

added bg to hero paralax, fix tooltips in field, fix height of iti ..
  src/assets/css/components/_form.scss
  src/assets/css/components/_parallax-bg.scss
  src/assets/css/layouts/modals/_dialog-flight.scss
  src/assets/css/layouts/sections/_contacts.scss
  src/assets/css/layouts/sections/_hero.scss
  src/assets/js/layouts/MainForm.js
  src/assets/js/services/form/addDynamicGroup.js
  src/assets/js/services/form/initForm.js
  src/assets/js/services/form/setupFields.js
  src/assets/js/services/form/validateField.js
  src/assets/js/services/form/validators.js
  src/templates/components/form/formField.ejs
  src/templates/components/inputs/slInput.ejs
  src/templates/layouts/formFields/dateField.ejs
  src/templates/layouts/formFields/formField.ejs
  src/templates/layouts/formFields/passengerField.ejs
  src/templates/layouts/forms/contactsForm/contactsFormContent.ejs
  src/templates/layouts/forms/flightForm/dynamicGroupContent.ejs
  src/templates/layouts/forms/flightForm/staticContent.ejs
  src/templates/layouts/forms/subscribeForm/subscribeFormContent.ejs
Due: prettier --write, eslint -c eslint.config.mjs

return initReviews js
  src/main.js
Due: prettier --write, eslint -c eslint.config.mjs

added new bg opacity, and cursor to more
  src/assets/css/layouts/sections/_hero.scss
  src/assets/css/styles.scss
Due: prettier --write
